.perfil{
    border-radius: 0.4rem;
    border-color: #001A41;
    border: solid;
}

.perfil_1{
    font:1.2rem helvetica;
    display:flex;
    justify-content: center;
}

.perfil_2{
    font:1.2rem helvetica;
    display:flex;
    justify-content: center;
    padding-top: auto;
    padding-bottom: auto;
}
.buttom{
    display:relative;
    color:#001A41;
}