{% extends "base.html" %}

{% block title %} Agregar Tarjetas {% endblock %}

{% block content %}
{% load static %}

<form action="" id="agregar-tarjetas" method="POST">
    <label>Numero de la tarjeta</label>
    <input type="number" name="numero" placeholder="El numero de tu tarjeta">
    <label>Codigo de la tarjeta</label>
    <input type="number" name="codigo" placeholder="El codigo de tu tarjeta">
    <label>Tipo de tarjeta</label>
    <input type="text" name="" placeholder="El tipo de tarjeta">

</form>



{% endblock %}