{% extends "base.html" %}

{% block title %} Agregar Tarjetas {% endblock %}

{% block content %}
{% load static %}

<form action="/agregar-tarjetas2/" id="agregar-tarjetas" method="POST">
    <label>Numero de la tarjeta</label>
    <input type="number" name="numero" placeholder="El numero de tu tarjeta" required>
    <label>Codigo de la tarjeta</label>
    <input type="number" name="codigo" placeholder="El codigo de tu tarjeta" required>
    <label>Tipo de tarjeta</label>
    <input type="text" name="" placeholder="El tipo de tarjeta" required>

</form>