<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %} {% endblock %}</title>
    <link  rel="stylesheet" href="D:\Documents\Desktop\proyecto final capgemini\nombre_del_proyecto\styles\styles.css">
</head>
<body>
    <nav>
        <img src="D:\Documents\Desktop\proyecto final capgemini\nombre_del_proyecto\Imgs\pngtree-vector-bank-icon-png-image_515245.jpg">
    </nav>

    {% block content %}
    {% endblock %}
    

    <footer>

        Estas son las redes sociales de la pagina
        <a href="">Twittter</a>

    </footer>


</body>
</html>