{% extends "base.html" %}

{% block title %}  Mis Cuentas   {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cuentas.css' %}"></link>
<main>
    {% include "atras.html" %}
    <h2 id="operacion">{{operacion}}</h2>
    <section id="cuentas-box">
        <h2>Cuentas</h2>
        {%for cuenta in cuentas%}
        <article class="cuenta">
            <strong>ID {{cuenta.0}}:  {{cuenta.1.title}} en {{cuenta.2.title}}</strong>
            <p>${{cuenta.3}}</p>
        </article>
        {% endfor%}
    </section>

    <aside>
        <form class="agregar-transferir" id="transferir" action="/mis-cuentas/transferir/" method="POST">
            {% csrf_token %}
            <h2>Transferir</h2>
            <div class="opcion-container">
                <label>Cuenta</label>
                <select name="cuenta">
                    {%for cuenta in cuentas%}
                    <option value={{cuenta.0}}>{{cuenta.0}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="opcion-container">
                <label>Destino</label>
                <input type="number" name="destino" min="1" required>
            </div>
            <div class="opcion-container">
                <label>Monto</label>
                <input type="number" name="monto" min="1" required>
            </div>
            <div class="opcion-container">
                <label>Motivo</label>
                <input type="text" name="descripcion"  maxlength="44" required>
            </div>
            <input type="submit" value="Transferir" class="enviar" id="transferir-button">
        </form>
    </aside>

    <form class="agregar-transferir" action="/mis-cuentas/crear/" method="POST">
        {% csrf_token %}
        <h2>Agregar Cuenta</h2>
        <div class="opcion-container">
            <label>Descripcion</label>
            <select name="descripcion" id="descripcion">
                <option value="cuenta corriente">Cuenta Corriente</option>
                <option value="caja de ahorro">Caja de Ahorro</option>
                <option value="cuenta sueldo">Cuenta Sueldo</option>
                <option value="cuenta universal gratuita">Cuenta Universal Gratuita</option>
            </select>
        </div>
        <div class="opcion-container">
            <label>Divisa</label>
            <select name="divisa" id="descripcion">
                <option value="pesos">Pesos</option>
                <option value="dolares">Dolares</option>
                <option value="euros">Euros</option>
            </select>
        </div>
        <div class="opcion-container">
            <label>Saldo</label>
            <input type="number" name="saldo" required>
        </div>
        <input type="submit" value="Crear" class="enviar">
    </form>
</main>
{% endblock %}