{% extends "base.html" %}
{% block tittle %} Inicio de sesion {% endblock %}

{% block content %}
<form action="" method="" id="inicio-sesion">
    {% load static %}
    <img src="{% static 'img/address-book-solid.svg' %}">
    <h2>Ingreso a Home Banking</h2>
    <label>Nombre de usuario</label>
    <input type="text" name="Nombre de Usuario" placeholder="Tu usuario">
    <label>Contraseña</label>
    <input type="password"name="password" placeholder="Tu contraseña">
    <input type="submit" value="Ingresar" id="sesion-button">
    <a href="">¿Todavía no estás registrado? Registrate ahora</a>
</form>
{% endblock %}