{% extends "base.html" %}

{% block title %}  Operaciones   {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/operaciones.css' %}"></link>
<h2 id="operacion">{{operacion}}</h2>
{% if flag %}
<h2 id="bienvenida">Bienvenido, {{nombre}}</h2>

<section id="cuenta">

</section>

<section id="operaciones">
    <article class="operacion">
            <img src="{% static 'img/arrows.svg'%}">
            <a href="/movimientos/">Movimientos</a>
    </article>
    <article class="operacion">
        <img src="{% static 'img/cuentas.svg'%}">
        <a href="/mis-cuentas/">Mis cuentas</a>
    </article>
    <article class="operacion">
        <img src="{% static 'img/card.svg'%}">
        <a href="">Mis tarjetas</a>
    </article>
    <article class="operacion">
        <a href="">Mi perfil</a>
    </article>
</section>




{% endif %}
{% endblock %}